.formChat {
    margin-left: 60px;
    margin-right: 80px;
}

.chatUser {
    color: white;
    padding: 20px 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: calc(100% + 80px); /* Ancho del contenedor más los márgenes izquierdo y derecho del main */
    margin-left: -40px; /* Compensa el margen izquierdo del main */
    margin-right: -40px;
    box-sizing: border-box;
    display: flex;
}

.chatAssistant {
    color: white;
    background-color: #444654;
    padding: 20px 120px 20px 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: calc(100% + 80px); /* Ancho del contenedor más los márgenes izquierdo y derecho del main */
    margin-left: -40px; /* Compensa el margen izquierdo del main */
    margin-right: -40px;
    box-sizing: border-box;
    display: flex;
}

.iconUser {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 30px;
}

.iconPrompty {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 30px;
}