.section-filter {
    display: flex;
    flex-direction: column;
    margin-top: -29.5px;
    margin-right: 0px;
    gap: 18px;
    margin-bottom: 40px;
}

.formCategory {
    display: flex;
    width: 100%;
}

.formCategory select[multiple] {
    height: 40px;
    padding: 4px 0 4px 10px;
    flex: 1;
}

.formCategory select[multiple]:focus,
.formCategory select[multiple]:active {
    height: auto;
    margin-bottom: -66.5px;
}

.formKeyword {
    display: flex;
    align-items: center;
    margin-right: 65px;
}

.formKeyword input {
    height: 36px;
    padding-left: 10px;
    margin-right: 11px;
    flex: 1;
}

.formKeyword button {
    height: 40px;
    background-color: #0FA47F;
    border: none;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
}

.formKeyword button:hover {
    background-color: #009b74;

}

.sendIcon {
    width: 16px;
}


@media (min-width: 560px) {
    .section-filter {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -34px;
        margin-right: 59px;
        gap: 28px;
        margin-bottom: 38px;
    }

    .formCategory {
        display: block;
        width: auto;
    }

    .formCategory select[multiple] {
        height: 33px;
        padding: 4px 0 4px 10px;
        font-size: 15px;
    }

    .formCategory select[multiple]:focus,
    .formCategory select[multiple]:active {
        height: auto;
        margin-bottom: -66.5px;
    }

    .formKeyword {
        display: flex;
        align-items: center;
    }

    .formKeyword input {
        height: 29.5px;
        padding-left: 10px;
        padding-right: 20px;
        margin-right: 11px;
        font-size: 15px;
    }

    .formKeyword button {
        height: 33px;
        background-color: #0FA47F;
        border: none;
        border-radius: 3px;
        padding: 9px;
        cursor: pointer;
        margin-right: 0;
    }

    .formKeyword button:hover {
        background-color: #009b74;

    }

    .sendIcon {
        width: 16px;
    }

}