.header {
    background-color: transparent;
    color: transparent;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

    // Esconde el input de tipo checkbox
    &>input {
        display: none;
    }

    &.open {
        background-color: #202123;
        color: white;
        width: 200px;
        height: 100%;

        // Muestra el contenido del header cuando el checkbox está marcado
        .promptsHeader-container,
        Nav {
            display: flex;
        }
    }

    // Estilo por defecto del header
    .promptsHeader-container,
    Nav {
        display: none; // Por defecto, mostrar todo
    }

}

.promptsHeader-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
}

.promptsHeader-container a {
    width: auto;
    display: inline-block;
}

.btnNewChat {
    display: flex;
    border: 1px solid rgb(94, 91, 91);
    border-radius: 5px;
    background-color: #202123;
    color: white;
    padding: 9px 10px 9px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    min-width: 170px;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btnNewChat:hover {
    background-color: #27282b;
}

.iconBurguer {
    width: 20px;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: -8px;
}



.main-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 200px; // Ajustar según el ancho del header
    width: calc(100% - 200px); // Ajustar según el ancho del header
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Sombreado
    z-index: 10;
    cursor: pointer;
}

.header.open + .main-overlay {
    display: block;
}




@media (min-width: 560px) {

    .header {
        background-color: #202123;
        color: white;
        width: 200px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 0.3s ease;

        // Mostrar el contenido del header en pantallas grandes
        .promptsHeader-container,
        Nav {
            display: flex;
        }

        // Esconde el checkbox y su label en pantallas grandes
        &>input,
        &>label {
            display: none;
        }
    }
}