.category-container {
    margin-bottom: 30px;
}

.categoryTitle {
    color: white;
    font-weight: 600;
    font-size: 19px;
    display: inline-block;
    margin-right: auto;
    flex-shrink: 0;
}

.categoryData-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categoryP-container {
    display: inline-flex;
    align-items: center;
    background-color: #5e6177;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

.categoryP {
    color: white;
    font-weight: 400;
    font-size: 12px;
    white-space: wrap;
    overflow: hidden;
    line-height: 1.5;
}

.prompt-div {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.info-btn {
    height:  32px;
    background-color: #0FA47F;
    border: none;
    border-radius: 3px;
    padding: 4.5px;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: -32px;
    margin-left: auto;
}

.info-btn:hover {
    background-color: #009b74;

}

.questionIcon {
    width: 23px;
    pointer-events: none;
}

.prompt-div {
    flex-direction: column;
}

@media (min-width: 560px) {
    .category-container {
        margin-bottom: 30px;
    }
    
    .categoryTitle {
        color: white;
        font-weight: 600;
        font-size: 19px;
        display: inline-block;
        margin-right: 10px;
        flex-shrink: 0;
    }
    
    .categoryData-container {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .categoryP-container {
        display: inline-flex;
        align-items: center;
        background-color: #5e6177;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -16px;
        margin-bottom: -7px;
        border: none;
        border-radius: 5px;
        padding: 8px 12px;
    }
    
    .categoryP {
        color: white;
        font-weight: 400;
        font-size: 12px;
        white-space: wrap;
        overflow: hidden;
        line-height: 1.5;
    }
    
    .prompt-div {
        display: flex;
        margin-top: 20px;
        gap: 20px;
    }
    
    .info-btn {
        height:  21px;
        background-color: #0FA47F;
        border: none;
        border-radius: 3px;
        padding: 2.5px;
        cursor: pointer;
        flex-shrink: 0;
        margin-top: 0;
        margin-left: 0;
    }
    
    .info-btn:hover {
        background-color: #009b74;
    
    }
    
    .questionIcon {
        width: 16px;
        pointer-events: none;
    }

    .prompt-div {
        flex-direction: row;
    }
    

}