.cardP {
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    line-height: 22px;
}

.promptCard {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #444654;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.promptCard:hover {
    background-color: #494c57;
}

@media (min-width: 560px) {
    .cardP {
        color: white;
        font-weight: 400;
        font-size: 14px;
        padding: 20px;
        line-height: 22px;
    }
    
    .promptCard {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #444654;
        width: 33%;
        border: none;
        border-radius: 5px;
    }
    
    .promptCard:hover {
        background-color: #494c57;
    }
}